{{>header}}
<div class="headpos">
    <h1 class="head"><b>Play millions of songs
            <br>and podcasts, for free.</b></h1>
</div>

<button id="" class="btn btn-default">&nbsp Get Started for free &nbsp</button>
<div class="" style="background-color:black">
    <div class="row">
        <div class="col-sm-2">
            <div class="art">
                <img src="/images/art1.jpg" width="70px">
            </div>
        </div>
        <div class="col-sm-2" id="name">
            <h5 class="name"><b>Carnival of Rust</b></h5>
            <h5 class="artist">Poets of the fall</h5>
        </div>
        <div class="col-sm-1" id="pre"> <i class="glyphicon glyphicon-backward"></i></div>
        <div class="col-sm-1" id="ply">
            <div class="box">
                <div id="act"><i class="glyphicon glyphicon-play" onclick="play()"></i></div>
            </div>
        </div>
        <audio id="audio" src="../audio/aud1.mp3"></audio>
        <div class="col-sm-" id="for"><i class="glyphicon glyphicon-forward"></i></div>
        <div class="col-sm-4">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                    style="width:70%">
                </div>
            </div>
        </div>
    </div>

</div>

{{>footer}}