{{>header}}
<img src="../images/bg.jpg" class="back">
<div class="headpos">
    <h1 class="head"><b>Play millions of songs
            <br>and podcasts, for free.</b></h1>
</div>

<button id="" class="btn btn-default">&nbsp Get Started for free &nbsp</button>
<div class="bottom" style="background-color:black">
    <div class="row">
        <div class="col-sm-2">
            <div class="art">
                <img src="/images/art1.jpg" width="70px">
            </div>
        </div>
        <div class="col-sm-2" id="name">
            <h5 class="name"><b>Carnival of Rust</b></h5>
            <h5 class="artist">Poets of the fall</h5>
        </div>
        <div class="col-sm-1" id="pre"> <i class="glyphicon glyphicon-backward"></i></div>
        <div class="col-sm-1" id="ply">
            <div class="box">
                <div id="act"><i class="glyphicon glyphicon-play" onclick="play()"></i></div>
            </div>
        </div>
        <audio id="audio" src="../audio/aud1.mp3"></audio>
        <div class="col-sm-" id="for"><i class="glyphicon glyphicon-forward"></i></div>
        <div class="col-sm-4">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                    style="width:70%">
                </div>
            </div>
        </div>
    </div>

</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phas</p>
{{>footer}}