{{>header}}
<img src="../images/bgp.jpg" class="back">
<div class="headposp">
    <h1 class="head" style="font-size:80px;"><b>Go Premium.<br>
            Be happy</b></h1>
    <div class="heads">
        <p>Try Member Premium For 30 days.</p>
    </div>
</div>
{{>footer}}