{{>header}}
<img src="../images/bgs.jpg" class="back">
<div class="headposs">
    <h1 class="head"><b>Get in touch</b></h1>
    <div class="heads">
        <h4><br>Call us at: 0123456789,9876543210<br>
        email at: support.musicbeats@gmail.com</h4>
    </div>
</div>

{{>footer}}