<html lang="en">

{{>headerLink}}

<body>
    <div class="container-fluid">
        

        <img src="/images/logo.png" width="70px" class="logo">
        <div class="navbar">
            <ul class="list-inline" ;>
                <li><a href="../" class="nav"><b>Home</b></a></li>
                <li><a href="../support" class="nav"><b>Support</b></a></li>
                <li><a href="../download" class="nav"><b>Download</b></a></li>
                <li><a href="../premium" class="nav"><b>Premium</b></a></li>
            </ul>
        </div>
        <div class="navbar2">
            <ul class="list-inline" ;>
                <li><a href="#" class="nav"><b>Log In</b></a></li>
                <li><a href="#" class="nav"><b>Sign Up</b></a></li>
            </ul>
        </div>